// sass --watch assets/sass/work.scss:assets/css/work.css
:root {
  --first-color: #ecdb95;
  --second-color: #eeff04;
  --highlight-color: rgb(255, 115, 0);
  --white-color: #fafaff;
  --dark-color: #2a3b47;
  --text-color: white;
}

html {
  background-color: white;
}

.background {
  transition: background-color 700ms;

  background-color: var(--first-color);

  &.colorTwo {
    background-color: white;
  }

  .l-header {
    position: static;
    mix-blend-mode: normal;

    .nav-top a {
      z-index: 10;
    }
  }

  .return-icon {
    color: var(--second-color);
    transform: scale(1.5);
  }

  .work-section {
    margin-left: 20vw;
    margin-right: 20vw;
    font-weight: 300;
  }

  .first-section {
    padding-top: 15vh;
    display: grid;
    // grid-template-columns: 100%;
    grid-template-columns: 1fr 2fr 5fr;
    min-height: 100vh;
    transition: 0s;
    // transition: all 0s ease-in;
    // background-color: red;

    p {
      font-weight: 300;
    }
    .title {
      margin-top: 40px;
      font-weight: 700;
    }
    h1 {
      font-size: 5rem;
    }

    .tools {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      ul {
        li {
          list-style-type: circle;
          margin-left: 40px;
        }
      }
    }
  }

  .second-section {
    // height: 300vh;
    margin-top: 50vh;
    
    color: var(--dark-color);

    

    .text {
        margin-bottom: 50px;

        .title {
            font-size: 2.5rem;
            margin-top: 50px;
          }

          .small-title{
              font-size: 1.2rem;
              font-weight: 500;
              margin-top: 20px;
          }
      ul {
        list-style-type: circle;
        margin-left: 10%;
        width: 80%;
      }
    }
  }

  .cursor {
    z-index: 0;
  }
}

@media screen and (max-width: 768px) {
  .background {
    .work-section {
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .first-section {
      display: block;
      padding-top: 0px;

      .title {
        margin-top: 10px;
        // font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .work-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .first-section {
    // display: block;
    // margin-top: 80px;

    .title {
      // margin-top: 10px;
      // font-weight: 700;
    }
  }
}
