// sass --watch assets/sass/work.scss:assets/css/work.css
:root {
  --first-color: #ecdb95;
  --second-color: #eeff04;
  --highlight-color: rgb(255, 115, 0);
  --white-color: #fafaff;
  --dark-color: #2a3b47;
  --text-color: white;
}

html {
  background-color: white;
 
}

body{
  margin-top: 0;
}

.background {
  transition: background-color 700ms;

  background-color: var(--first-color);
  margin-bottom: 20vh;

  &.colorTwo {
    background-color: white;
  }

  .l-header {
    position: static;
    mix-blend-mode: normal;

    .nav-top a {
      z-index: 10;
    }
  }

  .return-icon {
    color: var(--second-color);
    transform: scale(1.5);
  }

  .work-section {
    margin-left: 15vw;
    margin-right: 15vw;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .first-section {
    padding-top: 10vh;
    display: grid;
    // grid-template-columns: 100%;
    grid-template-columns: 1fr 2fr 5fr;
    min-height: 100vh;
    transition: 0s;
    // transition: all 0s ease-in;
    // background-color: red;

    p {
      font-weight: 300;
    }
    .title {
      margin-top: 40px;
      font-weight: 700;
    }
    h1 {
      font-size: 4rem;
    }

    .tools {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      ul {
        li {
          list-style-type: circle;
          margin-left: 40px;
        
        }
      }
    }
  }

  .second-section {
    // height: 300vh;
    margin-top: 20vh;
    // padding-top: 30vh;

    color: var(--dark-color);

    .text {
      margin-bottom: 50px;

      .logo{
        width: 200px;
      }

      .title {
        font-size: 2.5rem;
        margin-top: 50px;
        margin-bottom: 40px;
        border-bottom: black 1px solid;
        color: var(--first-color);
      }

      .indent{
        text-indent: 2rem;
      }

      .small-title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 20px;
      }
      ul {
        list-style-type: circle;
        margin-left: 5%;
        width: 80%;

        li{
          margin-top: 10px;
          

        
        }
      }

      a{
        color: black;
        font-weight: 400;
      }
    }

    .gallery img{
      margin-bottom: 40px;
    }
  }



  .cursor {
    z-index: 1;
    &.expand {
      width: 90px;
      height: 90px;
      color: var(--dark-color);
  
      transition-duration: 200ms;
    }
  }

  .to-top {
    display: none;
    z-index: 0;
    position:fixed;
    right: 100px;
    bottom: 100px;
    i{
      color: black;
      transform: scale(3);
    }
  }
  
}

@media screen and (max-width: 768px) {
  .background {
    margin-bottom: 50px;
    .work-section {
      margin-left: 5vw;
      margin-right: 5vw;
      font-size: 0.9rem;
      
    }
    .first-section {
      display: block;
      padding-top: 0px;

      h1{
        font-size: 2rem;
      }

      .tools {
     
        ul {
          li {
        
            margin-left: 10px;
          
          }
        }
      }
      .title {
        margin-top: 10px;
        // font-weight: 700;
      }
    }

    .to-top{
      right: 20px;
      bottom: 30px;
      i{
        transform: scale(1.5);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .work-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .first-section {
    // display: block;
    // margin-top: 80px;

    .title {
      // margin-top: 10px;
      // font-weight: 700;
    }
  }
}
