:root {
  --first-color: #ecdb95;
  --second-color: #eeff04;
  --highlight-color: rgb(255, 115, 0);
  --white-color: #fafaff;
  --dark-color: #2a3b47;
  --text-color: white;
}

html {
  background-color: white;
}

body {
  margin-top: 0;
}

.background {
  transition: background-color 700ms;
  background-color: var(--first-color);
  margin-bottom: 20vh;
}
.background.colorTwo {
  background-color: white;
}
.background .l-header {
  position: static;
  mix-blend-mode: normal;
}
.background .l-header .nav-top a {
  z-index: 10;
}
.background .return-icon {
  color: var(--second-color);
  transform: scale(1.5);
}
.background .work-section {
  margin-left: 20vw;
  margin-right: 20vw;
  font-weight: 300;
  font-size: 1.2rem;
}
.background .first-section {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr;
  min-height: 100vh;
  transition: 0s;
}
.background .first-section p {
  font-weight: 300;
}
.background .first-section .title {
  margin-top: 40px;
  font-weight: 700;
}
.background .first-section h1 {
  font-size: 4rem;
}
.background .first-section .tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.background .first-section .tools ul li {
  list-style-type: circle;
  margin-left: 40px;
}
.background .second-section {
  margin-top: 20vh;
  color: var(--dark-color);
}
.background .second-section .text {
  margin-bottom: 50px;
}
.background .second-section .text .logo {
  width: 200px;
}
.background .second-section .text .title {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 40px;
  border-bottom: black 1px solid;
  color: var(--first-color);
}
.background .second-section .text .indent {
  text-indent: 2rem;
}
.background .second-section .text .small-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
}
.background .second-section .text img.small {
  width: 60%;
}
.background .second-section .text ul {
  list-style-type: circle;
  margin-left: 5%;
  width: 80%;
}
.background .second-section .text ul li {
  margin-top: 10px;
}
.background .second-section .text a {
  color: black;
  font-weight: 400;
}
.background .second-section .gallery img {
  margin-bottom: 40px;
}
.background .cursor {
  z-index: 1;
  mix-blend-mode: normal;
}
.background .cursor.expand {
  width: 90px;
  height: 90px;
  color: var(--dark-color);
  transition-duration: 200ms;
}
.background .to-top {
  display: none;
  z-index: 0;
  position: fixed;
  right: 100px;
  bottom: 100px;
}
.background .to-top i {
  color: black;
  transform: scale(3);
}

@media screen and (max-width: 768px) {
  .background {
    margin-bottom: 50px;
  }
  .background .work-section {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.9rem;
  }
  .background .first-section {
    display: block;
    padding-top: 0px;
  }
  .background .first-section h1 {
    font-size: 2rem;
  }
  .background .first-section .tools ul li {
    margin-left: 10px;
  }
  .background .first-section .title {
    margin-top: 10px;
  }
  .background .to-top {
    right: 20px;
    bottom: 30px;
  }
  .background .to-top i {
    transform: scale(1.5);
  }
}
@media screen and (max-width: 1024px) {
  .work-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

/*# sourceMappingURL=work.css.map */
